body {
  background-color: #dcf6ff;
  padding: 0px 30px;
  font-family: 'VT323', monospace;
}

a {
  font-size: 18px;
  color: rgb(0, 89, 223);
  text-decoration: none;
}

.grande {
  font-size: 21px;
}
#aprender { 
  border: 5px solid rgb(231, 201, 235) ;
  border-radius: 20px;
  padding: 50px 120px;
  max-width:  400px;
  margin:  15px auto;
  background-color: darkgrey;
  color: black;
  font-size: 40px;
  font-weight: 300;
  font-style: italic;
  text-decoration: overline;
  text-align: center;
  cursor: cell;
  letter-spacing: 20px;
  text-transform: uppercase;

}
#aprender:hover {
 background-color: antiquewhite;
 border: 5px solid rgb(228, 211, 118) ;
 border-radius: 20px;
 text-decoration: underline;
 color: rgb(104, 114, 201);
 opacity: 0.5;
}
